.container {
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.ml-4 {
    margin-left: 1rem;
}

.full-width {
    width: 100%;
}

.list {
    list-style: none;
    padding: 20px;
}